<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SocketUrl" value="wss://socket.metadollar.com/socket.io/?transport=websocket" />
    <add key="Provider" value="https://mainnet.infura.io/Ky03pelFIxoZdAUsr82w"/>
    <add key="AddressMetaDollar" value="0x9fB587Fc50B4c5ba8e4947DD9cfbBE7e76A25486" />
    <add key="AbiFile" value="../contracts/metadollar.json" />
    <add key="TokenFile" value="../contracts/token.json" />
    <add key="Token" value="0x8f3470a7388c05ee4e7af3d01d8c722b0ff52374" />
    <add key="User" value="0xA549b1209A7CcadF8BFc654Fc8A373D62c4e5873" />
    <add key="PrivateKey" value="1234567891234567891234567891234567891234567891234567891234567890" />
    <add key="UnitDecimals" value="18" />
    <add key="GasPrice" value="1000000000" />
    <add key="GasLimit" value="250000" />
  </appSettings>
</configuration>
